.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 0;
}
.item {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #b4bbba;
  border-radius: 10px;
  padding: 0 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.online {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: green;
}
.offline {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
}
.avatar {
  display: block;
  width: 50px;
  height: 50px;
}
.name {
  margin: 20px;
}
